{
    "code": "200",
    "ver": {
        "ver": "3",
        "vermin": "2"
    },
    "config": {
        "url": "https://gitee.com/api/v5/repos/zeitu_admin/cola/contents/",
        "pram": "?access_token=5347dc45d0622feda6544191c98e324b",
        "path": "zeitu_admin/cola",
        "type": "-1",
        "tzpy": "64",
        "key": "5347dc45d0622feda6544191c98e324",
        "api": "https://api2.eeenn.cn/public/?s=",
        "web": "www.kl789.cn",
        "app": "https://www.kl789.cn/kele.apk",
        "login": "https://openmobile.qq.com/oauth2.0/m_authorize?_wv=16777218&status_os=10&client_id=101973610&format=json&switch=1&status_version=29&status_machine=SHARK%20KLE-A0&sdkp=i&sdkv=3.51_full&sign=A36EED171E7779BC319C7A9425B97346&scope=all&style=qr&redirect_uri=auth%3A%2F%2Fwww.qq.com%2F&display=mobile&response_type=token&loginfrom=main&cancel_display=1",
        "sha": "f8ee1960cc39efb8abab4948cc0ecd0c10de6b1f",
        "shaurl": "http://api2.eeenn.cn/public/?s=/App/getgiteesha",
        "gonggao": "/html/index/index.html",
        "gonggaotype": "99",
        "text": "所有功能仅限选区界面单机模式内使用\n测试版本暂时仅开放皮肤编辑器\n其他功能暂时没时间更新\n设置界面可以关闭公告倒计时哦\n\n\n\n",
        "经典功能目录": "/config",
        "经典功能后缀": "json",
        "初始化说明": "使用前请清理王者后台\n自动初始化：自动从王者目录下拷贝最新DB文件\n手动初始化：选择大区界面手动点击悬浮窗图标后软件自动拷贝最新DB\n自定义初始化：手动选择别处下载的DB文件，如果选择的DB不是最新版本可能导致软件异常\n网络初始化：从网盘上下载他人上传的DB,请注意上传日期",
        "sign": {
            "skin": "/skin/config/skin.json",
            "skin_new": "/skin/config/skin_new.json",
            "hero": "/fty/hero/config/hero.json",
            "item": "/fty/item/config/item.json",
            "ming": "/fty/ming/config/ming.json",
            "skills": "/fty/skills/config/skills.json",
            "skills_xg": "/fty/skills/config/skills_xg.json",
            "zhao": "/fty/skills/config/zhao.json",
            "bei": "/fty/skills/config/bei.json",
            "ta": "/fty/ta/config/ta.json",
            "mod": "/fty/mod/config/mod.json",
            "mod2": "/fty/mod/config/mod2.json"
        },
        "lunbo": [
            {
                "name": "王者代练",
                "biao": "可乐杯冠军队伍接单代练",
                "type": "html_file",
                "url": "/html/dl/index.html",
                "img": "https://s1.ax1x.com/2022/08/11/v8vVxA.jpg"
            },
            {
                "name": "可乐官网",
                "biao": "教程与资源下载",
                "type": "url",
                "url": "https://www.kl789.cn",
                "img": "https://s4.ax1x.com/2022/02/16/HWLXTg.png"
            },
            {
                "name": "可乐等级代挂",
                "biao": "助力你飞速上皇冠",
                "type": "home",
                "url": "2",
                "img": "https://z3.ax1x.com/2021/06/18/RSHPR1.png"
            },
            {
                "name": "可乐等级代挂2",
                "biao": "助力你飞速上皇冠",
                "type": "user",
                "url": "htpp://api2.123.cn/?s=/ssss/cccc/ss",
                "img": "https://z3.ax1x.com/2021/06/18/RSHPR1.png"
            }
        ],
        "菜单按钮权限": {
            "db": "0",
            "fty": "0",
            "pifu": "0",
            "cola": "5",
            "fang": "3"
        },
        "menu": [
            {
                "name": "初始化",
                "new": "全皮肤更新",
                "img": "https://gitee.com/zeitu_admin/db/raw/master/img/icon.png",
                "type": "win",
                "url": "kele",
                "tan": "",
                "copy": ""
            },
            {
                "name": "经典功能",
                "new": "全皮肤更新",
                "img": "https://z3.ax1x.com/2021/02/26/yxzSB9.jpg",
                "type": "win",
                "url": "db",
                "tan": "",
                "copy": "",
                "vip": "0"
            },
            {
                "name": "皮肤编辑器",
                "new": "适配孙尚香",
                "img": "https://game.gtimg.cn/images/yxzj/img201606/heroimg/136/136-smallskin-4.jpg",
                "type": "win",
                "url": "pifu",
                "tan": "",
                "copy": "",
                "vip": "0"
            },
            {
                "name": "新工厂模式",
                "new": "适配更多属性",
                "img": "https://game.gtimg.cn/images/yxzj/img201606/itemimg/1701.jpg",
                "type": "win",
                "url": "fty",
                "tan": "还没做呢，别急",
                "copy": "",
                "vip": "0"
            },
            {
                "name": "自定义替换",
                "new": "新",
                "img": "https://z3.ax1x.com/2021/02/26/yxzSB9.jpg",
                "type": "win",
                "url": "diy",
                "tan": "请确保你添加进来的文件是基于王者最新DB文件制作的\n否则可能会出现卡进度条、资源损坏等异常情况",
                "copy": ""
            },
            {
                "name": "战力查询",
                "new": "新",
                "img": "https://s4.ax1x.com/2022/02/18/HoyRW8.jpg",
                "type": "win",
                "url": "zhanli",
                "tan": "还没做呢，别急",
                "copy": ""
            },
            {
                "name": "资源包引入",
                "new": "新",
                "img": "https://s4.ax1x.com/2022/02/18/HoyRW8.jpg",
                "type": "win",
                "url": "in",
                "tan": "还没做呢，别急",
                "copy": ""
            },
            {
                "name": "交流群",
                "new": "新",
                "img": "https://ts2.cn.mm.bing.net/th?id=OIP-C.P4DNSNrirTAARz7uh7scgwHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2",
                "type": "group",
                "url": "ePbWncuxh8JSaiKwS6qBCC6DZaWQlBE0",
                "tan": "",
                "copy": ""
            },
            {
                "name": "更新日志",
                "new": "新",
                "img": "icon.png",
                "type": "url2",
                "url": "https://docs.qq.com/doc/DWlhiTEZxY1p1TlpU",
                "tan": "",
                "copy": ""
            },
            {
                "name": "版本福利",
                "new": "新",
                "img": "icon.png",
                "type": "tan",
                "url": "还没做呢，别急",
                "tan": "",
                "copy": ""
            },
            {
                "name": "作者专属",
                "new": "新",
                "img": "icon.png",
                "type": "win",
                "url": "cola",
                "tan": "",
                "copy": "",
                "vip": "5"
            }
        ],
        "fty_config": "/fty/config.json",
        "fty": [
            {
                "name": "英雄修改",
                "img": "https://game.gtimg.cn/images/yxzj/img201606/heroimg/166/166.jpg",
                "url": "hero",
                "vip": "1"
            },
            {
                "name": "装备修改",
                "img": "https://game.gtimg.cn/images/yxzj/img201606/itemimg/2000.jpg",
                "url": "item",
                "vip": "1"
            },
            {
                "name": "部分装备技能修改",
                "img": "https://game.gtimg.cn/images/yxzj/img201606/itemimg/1239.jpg",
                "url": "item2",
                "vip": "1"
            },
            {
                "name": "铭文修改",
                "img": "https://game.gtimg.cn/images/yxzj/img201606/mingwen/3501.png",
                "url": "ming",
                "vip": "1"
            },
            {
                "name": "召唤师技能修改",
                "img": "https://game.gtimg.cn/images/yxzj/img201606/summoner/80115.jpg",
                "url": "zhao2",
                "vip": "1"
            },
            {
                "name": "召唤师修改",
                "img": "https://game.gtimg.cn/images/yxzj/img201606/summoner/80104.jpg",
                "url": "zhao",
                "vip": "1"
            },
            {
                "name": "模式属性修改",
                "img": "https://z3.ax1x.com/2021/02/26/yxve2D.jpg",
                "url": "mod",
                "vip": "1"
            },
            {
                "name": "模式上限修改",
                "img": "https://z3.ax1x.com/2021/04/19/cTSWcR.png",
                "url": "mod2",
                "vip": "1"
            },
            {
                "name": "防御塔属性修改",
                "img": "https://z3.ax1x.com/2021/02/26/yxve2D.jpg",
                "url": "ta",
                "vip": "1"
            },
            {
                "name": "部分被动技能修改",
                "img": "https://game.gtimg.cn/images/yxzj/img201606/heroimg/505/50500.png",
                "url": "bei",
                "vip": "1"
            },
            {
                "name": "轻量搜索器",
                "img": "https://z3.ax1x.com/2021/02/26/yxzSB9.jpg",
                "url": "sou",
                "vip": "7"
            }
        ],
        "shang": [
            {
                "id": "1",
                "name": "邀请码",
                "img": "youhuiquan.png",
                "text": "凭此邀请码可以加任意交流群",
                "type": "copy",
                "jifen": "200",
                "vip": "2"
            },
            {
                "id": "2",
                "name": "绑定设备",
                "img": "awards_integral.png",
                "text": "更换框架或虚拟机需重新绑定",
                "type": "vip",
                "jifen": "30",
                "vip": "0"
            },
            {
                "id": "3",
                "name": "3天工厂会员",
                "img": "vip1.png",
                "text": "解锁完整的工厂模式",
                "type": "vip2",
                "jifen": "50",
                "vip": "2"
            },
            {
                "id": "4",
                "name": "永久工厂会员",
                "img": "vip2.png",
                "text": "解锁完整的工厂模式",
                "type": "vip3",
                "jifen": "1500",
                "vip": "2"
            },
            {
                "id": "5",
                "name": "永久助手会员",
                "img": "vip3.png",
                "text": "包含工厂会员、免广告、免绑定",
                "type": "vip4",
                "jifen": "3000",
                "vip": "2"
            },
            {
                "id": "16",
                "name": "解绑QQ",
                "img": "awards_integral.png",
                "text": "解绑当前QQ",
                "type": "",
                "jifen": "10",
                "vip": "0"
            }
        ],
        "pay": [
            {
                "lx": -1,
                "name": "拿去花",
                "jifen": "积分数量+1",
                "money": "0.1元",
                "img": ""
            },
            {
                "lx": 0,
                "name": "卫龙小面筋",
                "jifen": "积分数量+30",
                "money": "0.5元",
                "img": ""
            },
            {
                "lx": 1,
                "name": "咬个打火机",
                "jifen": "积分数量+50",
                "money": "0.88元",
                "img": ""
            },
            {
                "lx": 2,
                "name": "肥宅快乐水",
                "jifen": "积分数量+200",
                "money": "3元",
                "img": ""
            },
            {
                "lx": 3,
                "name": "脉动回来吧",
                "jifen": "抽奖次数+10",
                "money": "5元",
                "img": ""
            }
        ],
        "1": "2"
    },
    "1": {
        "url": "https://gitee.com/api/v5/repos/zeitu_admin/cola/contents/",
        "pram": "?access_token=5347dc45d0622feda6544191c98e324b",
        "key": "5347dc45d0622feda6544191c98e324",
        "verName": "1.0",
        "verText": "更新吧",
        "verSize": "24.0M",
        "verTime": "2023-02-15"
    },
    "2": {
        "url": "https://gitee.com/api/v5/repos/zeitu_admin/cola/contents/",
        "pram": "?access_token=5347dc45d0622feda6544191c98e324b",
        "key": "5347dc45d0622feda6544191c98e324",
        "app": "http://api2.eeenn.cn/public/api/lanzou.php?type=down&url=https://xmmz.lanzouy.com/idyIt0rs0vhe",
        "verName": "2.0",
        "verText": "更新自定义替换\n更新经典功能的部分内容\n修复星元没有配置时无法手动修改的bug\n其他bug修复",
        "verSize": "24.0M",
        "verTime": "2023-04-01",
        "text": "设置界面可以关闭公告倒计时哦"
    },
    "3": {
        "url": "https://gitee.com/api/v5/repos/zeitu_admin/cola/contents/",
        "pram": "?access_token=5347dc45d0622feda6544191c98e324b",
        "key": "5347dc45d0622feda6544191c98e324",
        "app": "https://xmmz.lanzouy.com/ijEaP0rs5y3i",
        "app2": "http://api2.eeenn.cn/public/api/lanzou.php?type=down&url=https://xmmz.lanzouy.com/ijEaP0rs5y3i",
        "apptype": "lanzou",
        "apppwd": "666",
        "verName": "3.0",
        "verText": "修复自定义替换输出空DB的bug\n更新自定义替换\n更新经典功能的部分内容\n修复星元没有配置时无法手动修改的bug\n其他bug修复",
        "verSize": "24.0M",
        "verTime": "2023-04-01"
    }
}