{
    "code":"200",
    "ver":{
        "ver":"2",//最新版本号,
        "vermin":"1"//最低版本号，低于此版本需强制更新
    },
    "config":{
        //config为默认版本设置，如果对应版本的参数为空则使用此处的配置
        "url":"https://gitee.com/api/v5/repos/zeitu_admin/cola/contents/",
        "pram":"?access_token=5347dc45d0622feda6544191c98e324b",
        "type":"1",
        "key":"5347dc45d0622feda6544191c98e324",
        "api":"https://api2.eeenn.cn/public/",
        "web":"www.kl789.cn",
        "app":"https://www.kl789.cn/kele.apk",
        "sha":"9bc7e5245092aba5f699088abe6e99fe67c054bd"//获取当前最新sha http://api2.eeenn.cn/public/?s=/App/getgiteesha
    },
    "1":{
        "url":"https://gitee.com/api/v5/repos/zeitu_admin/cola/contents/",
        "pram":"?access_token=5347dc45d0622feda6544191c98e324b",
        "key":"5347dc45d0622feda6544191c98e324",
        "api":"https://api2.eeenn.cn/public/",
        "verName":"1.0",
        "verText":"更新吧",
        "verSize":"24.0M",
        "verTime":"2023-02-15"
    },
    "2":{
        "url":"https://gitee.com/api/v5/repos/zeitu_admin/cola/contents/",
        "pram":"?access_token=5347dc45d0622feda6544191c98e324b",
        "key":"5347dc45d0622feda6544191c98e324",
        "app":"http://api2.eeenn.cn/public/api/lanzou.php?type=down&url=https://xmmz.lanzouy.com/ipzmy0nophid",
        "verName":"2.0",
        "verText":"更新吧",
        "verSize":"24.0M",
        "verTime":"2023-02-15"
    }
}